.player {
    overflow: hidden;
    width: 250px;
    display: flex;
    align-items: center;
    background-color: rgba(126, 124, 121, 0.8);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
    }
    span {
        font-size: 24px;
        margin-left: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.player-active {
    background-color: orange !important;
}